﻿@model GummyBearKingdom.Models.Review

@{
    ViewData["Title"] = "Review - Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Are you sure you want to delete this Review?</h2>
<hr />
@Html.DisplayNameFor(model => model.Author): @Html.DisplayFor(model => model.Author)
@Html.DisplayNameFor(model => model.Content_Body): @Html.DisplayFor(model => model.Content_Body)
@using (Html.BeginForm())
{
    <input type="submit" value="Delete" />
}
<p>@Html.ActionLink("Back to list", "Index")</p>