﻿@model GummyBearKingdom.Models.Review

@{
    ViewData["Title"] = "Edit Product";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    .create {
        color: white;
        font-size: 17px;
    }

    select {
        color: black;
        margin-left: 10px;
    }

    input {
        margin-left: 10px;
        color: black;
    }
</style>

<div class="create">
    <h2>Edit</h2>
    <hr>
    <h4>Edit this Review: @Html.DisplayFor(model => model.Author)</h4>
    @using (Html.BeginForm())
    {
        @Html.HiddenFor(model => model.ReviewId)

        @Html.LabelFor(model => model.Author)
        @Html.EditorFor(model => model.Author)
        <br /><br />
        @Html.LabelFor(model => model.Content_Body)
        @Html.EditorFor(model => model.Content_Body)
        <br /><br />
        @Html.LabelFor(model => model.Rating)
        @Html.EditorFor(model => model.Rating)
        <br /><br />
        @Html.LabelFor(model => model.Product.Name)
        @Html.DropDownList("ProductId")
        <br /><br />
        <input type="submit" value="Save" class="btn btn-success" />
    }
    <br /><br />
    @Html.ActionLink("Back to List", "Index")
</div>