﻿@model GummyBearKingdom.Models.Product

@{
    ViewData["Title"] = "Product - Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    .create {
        color: white;
    }

    select {
        color: black;
        margin-left: 10px;
    }

    input {
        margin-left: 10px;
        color: black;
    }
</style>

<div class="create">
    <h2>Add a new Product</h2>
    <hr>

    @using (Html.BeginForm())
    {
        @Html.LabelFor(model => model.Name)
        @Html.EditorFor(model => model.Name)
        <br /><br />
        @Html.LabelFor(model => model.Description)
        @Html.EditorFor(model => model.Description)
        <br /><br />
        @Html.LabelFor(model => model.Cost)
        @Html.EditorFor(model => model.Cost)
        <br /><br />

        <input type="submit" value="Create" class="btn btn-danger" />
        <br />
    }
    <br />
    @Html.ActionLink("Back to List", "Index")
</div>