﻿@model GummyBearKingdom.Models.Review

@{
    ViewData["Title"] = "Review - Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>Add a new Product</h2>
<hr>

@using (Html.BeginForm())
{
    @Html.LabelFor(model => model.Author)
    @Html.EditorFor(model => model.Author)
    <br /><br />
    @Html.LabelFor(model => model.Content_Body)
    @Html.EditorFor(model => model.Content_Body)
    <br /><br />
    @Html.LabelFor(model => model.Rating)
    @Html.EditorFor(model => model.Rating, new { maxlength = 5 })


    <input type="submit" value="Create" class="btn btn-default" />
}

@Html.ActionLink("Back to List", "Index")